body {
  background-image: url("../img/banner.jpg");

}
.header {
background-image: url("../img/banner1.jpg");
text-align: center;
color: black;
font-size: 30px;
margin-bottom: 10px;
}
.about-pet {
  text-align: center;
  color: white;
  background: black;
  margin-left: 250px;
  margin-right: 100px;
  padding-bottom: 10px;
}